<div class="logo">
  <img
    src="assets/images/Home.png"
    alt="logo"
    style="width:700px;"
    class="center"
  />
</div>

<div class="heading" class="center">
  <h1 class="Font1 animated fadeIn">Borrowell</h1>
  <h3 class="Font animated2 fadeIn">
    An alternative credit score system for the future, Borrowell Score provides
    what no other credit score system can.
  </h3>
  <br />
  <h3 class="Font animated3 fadeIn">
    Using machine learning algorithms, we provide a universal, transparent, and
    distributed way of measuring your credibility that minimizes fraud and does
    not put you at an unfair disadvantage.
  </h3>
</div>
