<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!------ Bootstrap and JQuery ---------->
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Navbar</title>
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <img
            src="assets/images/Test.png"
            id="icon"
            alt="User Icon"
          />
        </div>

        <!-- Login Form -->
        <form id="userForm" (submit)="onSubmit()">
          <input
            type="text"
            id="login"
            class="fadeIn second"
            [(ngModel)]="userLogin.username"
            name="userLogin.username"
            placeholder="username"
          />
          <input
            type="password"
            id="password"
            class="fadeIn third"
            [(ngModel)]="userLogin.password"
            name="userLogin.password"
            placeholder="password"
          />
          <input type="submit" class="fadeIn fourth" value="Log In" />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
      </div>
    </div>
  </body>
</html>
